HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/
!/src/main/java/com/blibli/experience/BlibliExperienceApplication.java
!/src/main/java/com/blibli/experience/configuration/SecurityConfiguration.java
!/src/main/java/com/blibli/experience/controller/AuthController.java
